<% unless @message.nil? %>
  <%= @message %>
<% end %>


<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p>username: <input type="text" name="name" required></p>
  <p>password: <input type="password" name="password" required></p>
  <input class="btn btn-primary" type="submit">
</form>
