<% unless @message.nil? %>
  <%= @message %>
<% end %>

<h2>Create a new character!<h2>

<form action="/characters" method="post">
  <h5><label>Character Name:</label>
  <input type="text" name="name" required></h5>
  <h5><label>Select a party to join:</label>
  <select name="party">
    <option value="">Join one later</option>
    <% Party.all.each do |party| %>
    <option value="<%= party.name %>"><%= party.name %></option>
    <% end %>
  </select></h5>
  <h5><label>Race: </label>
  <input type="radio" name="race" value="Dwarf" required>  Dwarf
  <input type="radio" name="race" value="Elf">  Elf
  <input type="radio" name="race" value="Halfling"> Halfling
  <input type="radio" name="race" value="Human">  Human
  <input type="radio" name="race" value="Dragonborn">  Dragonborn
  <input type="radio" name="race" value="Gnome">  Gnome
  <input type="radio" name="race" value="Half-Elf">  Half-Elf
  <input type="radio" name="race" value="Half-Orc">  Half-Orc
  <input type="radio" name="race" value="Tiefling">  Tiefling</h5>
  <h5><label>Class: </label>
  <input type="radio" name="character_class" value="Barbarian" required>  Barbarian
  <input type="radio" name="character_class" value="Bard">  Bard
  <input type="radio" name="character_class" value="Cleric">  Cleric
  <input type="radio" name="character_class" value="Druid">  Druid
  <input type="radio" name="character_class" value="Fighter">  Fighter
  <input type="radio" name="character_class" value="Monk">  Monk
  <input type="radio" name="character_class" value="Paladin">  Paladin
  <input type="radio" name="character_class" value="Ranger">  Ranger
  <input type="radio" name="character_class" value="Rogue">  Rogue
  <input type="radio" name="character_class" value="Sorcerer">  Sorcerer
  <input type="radio" name="character_class" value="Warlock">  Warlock
  <input type="radio" name="character_class" value="Wizard">  Wizard</h5>
  <h5><label>Alignment: </label>
  <input type="radio" name="alignment" value="Lawful Good" required>  Lawful Good
  <input type="radio" name="alignment" value="Neutral Good">  Neutral Good
  <input type="radio" name="alignment" value="Chaotic Good">  Chaotic Good
  <input type="radio" name="alignment" value="Lawful Neutral">  Lawful Neutral
  <input type="radio" name="alignment" value="True Neutral">  True Neutral
  <input type="radio" name="alignment" value="Chaotic Neutral">  Chaotic Neutral
  <input type="radio" name="alignment" value="Lawful Evil">  Lawful Evil
  <input type="radio" name="alignment" value="Neutral Evil">  Neutral Evil
  <input type="radio" name="alignment" value="Chaotic Evil">  Chaotic Evil</h5>
  <h5><label>Strength: </label>
  <input type="number" name="strength" min="1" max="20" required></h5>
  <h5><label>Dexterity: </label>
  <input type="number" name="dexterity" min="1" max="20" required></h5>
  <h5><label>Constitution: </label>
    <input type="number" name="constitution" min="1" max="20" required></h5>
  <h5><label>Intelligence: </label>
  <input type="number" name="intelligence" min="1" max="20" required></h5>
  <h5><label>Wisdom: </label>
  <input type="number" name="wisdom" min="1" max="20" required></h5>
  <h5><label>Charisma: </label>
  <input type="number" name="charisma" min="1" max="20" required></h5>
  <h5><label>Hit Points: </label>
  <input type="number" name="hit points" min="1" max="999" required></h5>
  <h5><label>Armor Class: </label>
  <input type="number" name="armor class" min="1" max="25" required></h5>
  <h5><label>Initiative: </label>
  <input type="number" name="initiative" min="0" max="15" required></h5>
  <h5><label>Speed: </label>
  <input type="number" name="speed" min="0" max="50" required></h5>
  <h5><label>Notes: </label><br>
  <textarea name="notes" cols=50 rows=5></textarea>
  <h4><input class="btn btn-primary" type="submit" value="Create"></h4>
</form>
<a class="btn btn-primary" href="/login">Cancel</a>
