<h2> Welcome to D&D Character Manager <h2>
<% if logged_in? %>
  <p><a href="/login"> View your profile </a><p>
  <p><a href="/"> View your party </a><p>
<% end %>
<p><a href="/"> View all parties </a><p>
